 <!-- Side Menu -->
 <div class="col-md-1 col-lg-1 col-xl-1 px-0">
    <div class="fixed-menu h-100 position-fixed py-3 px-0">
        <div class="logo m-auto"></div>
        <div class="menu-wrap mt-3">
            <div class="menu d-flex flex-column align-items-center p-2 justify-content-center">
                <img src="/images/group_2.png" alt="Home">
                <p class="fs-12 text-white mb-0">Dashboard</p>
            </div>
            <div class="menu d-flex flex-column align-items-center p-2 justify-content-center">
                <img src="/images/fi_truck.png" alt="Truck">
                <p class="fs-12 text-white mb-0 fw-bold">Cars</p>
            </div>
        </div>
    </div>
</div>
<!-- End Side Menu -->