<!-- Navbar -->
<nav class="navbar navbar-expand-lg py-3 position-fixed " >
    <div class="container-fluid">
        <div class="nav-logo"></div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <img class="fi-menu" src="/images/fi_menu.png" alt="menu">
            <form class="d-flex ms-auto">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
            <div class="user-wrap d-flex align-items-center ms-4 gap-3">
                <div class="user-icon px-3 py-2 rounded-circle">A</div>
                <p class="mb-0 fw-bold">Adi Prasetyo</p>
                <img src="/images/Vector_down.png" alt="vector down">
            </div>
        </div>
    </div>
</nav>
<!-- End Navbar -->