<!-- Sidebar -->
<div class="col-md-2 col-lg-2 col-xl-2">
    <div class="sidebar position-fixed">
        <div class="fixed-sidebar h-100">
            <a class="text-capitalize fw-bold mb-0 py-3 ps-4 d-block text-decoration-none">cars</a>
            <a class="fw-bold mb-0 py-3 ps-4 d-block text-decoration-none fs-16" href="/">List Car</a>
        </div>
    </div>
</div>
<!-- End Sidebar -->